<h3>
    <span class="badge rounded-pill text-bg-primary mb-2">
        <a href="javascript:void(0);" class="text-decoration-none text-light" data-bs-toggle="modal" data-bs-target="#modalSettings" data-update-chart-id="0"><i class="bi bi-plus-lg"></i></a>
    </span>
    {{#charts}}
    <span class="badge rounded-pill text-bg-warning mb-2">
        <a href="javascript:void(0);" class="text-decoration-none text-dark" data-chart-id="{{chart_id}}">{{name}}</a>
        <a href="javascript:void(0);" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#modalSettings" data-update-chart-id="{{chart_id}}"><i class="bi bi-gear"></i></a>
    </span>
    {{/charts}}
</h3>