<div class="flex flex-wrap gap-2 mb-4 items-center">
    <a href="javascript:void(0);" class="btn btn-primary btn-circle btn-sm" id="btnAddDevice">
        <i class="bi bi-plus-lg"></i>
    </a>
    {{#devices}}
    <a href="javascript:void(0);" class="badge badge-warning badge-lg p-4 no-underline text-base-content" data-device-id="{{device_id}}">
        <i class="bi bi-{{#kindIcon}}{{kind}}{{/kindIcon}} mr-1"></i> {{name}}
    </a>
    {{/devices}}
</div>
