<h3>
    {{#states}}
    <span class="badge rounded-pill text-bg-light mb-2">
        <a href="./charts.html?topic_id={{topic_id}}&key={{key}}" class="text-decoration-none text-dark">{{name}}: {{state}}{{#unitLabel}}{{key}}{{/unitLabel}}</a>
    </span>
    {{/states}}
</h3>