<div class="overflow-x-auto">
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>State Key <i class="bi bi-caret-up"></i></th>
                <th>Value</th>
                <th>Display Name</th>
                <th class="text-right">Show</th>
            </tr>
        </thead>
        <tbody>
            {{#status}}
            <tr class="hover cursor-pointer relative" data-device-id="{{device_id}}" data-status-key="{{status_key}}">
                <td>
                    <code class="bg-base-200 p-1 rounded">{{status_key}}</code>
                </td>
                <td>{{value}}</td>
                <td>{{name}}</td>
                <td class="text-right">{{#formatChecked}}{{is_shown}}{{/formatChecked}}</td>
            </tr>
            {{/status}}
        </tbody>
    </table>
</div>
