# Set home location for local sun position
LOCATION_LATITUDE=0
LOCATION_LONGITUDE=0

# mqtt host ip 
# Default = 127.0.0.1
#MQTT_HOST=127.0.0.1

# Server port
# Default = 4000
#PUDDLE_PORT=4000

# Conversion of mqtt messages with the key name 'temperature' 
# F = fahrenheit
# Any other value = no conversion
TEMPERATURE_CONVERT_TO=F